<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Página Inicial</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .card-custom {
            min-height: 220px;
            color: white;
            position: relative;
        }
        .card-custom a {
            position: absolute;
            bottom: 15px;
            left: 15px;
            color: white;
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div class="container py-4">
        <h1>Cruzamento de Servidores Públicos Vs. Bases de Benefícios federais</h1>
        <p class="lead">Bem-vindo ao Sistema</p>

        

        <div class="container mt-5">
            <h2 class="mb-4">Tabela de Cargas Atualizadas</h2>
            <div class="table-responsive">
              <table class="table table-bordered table-hover table-striped align-middle">
                <thead class="table-dark">
                  <tr>
                    <th>Data de Atualização</th>
                    <th>Nome da Carga</th>
                  </tr>
                </thead>
                <tbody id="tabela-cargas">
                </tbody>
              </table>
            </div>
          </div>


        <h2 class="mt-5">Ações:</h2>


        <div class="container py-4">
            <h1>Atualização da Base de Servidores</h1>
            
            <div class="container">
                <div class="card shadow rounded-4">
                    <div class="card-body">
                        <h3 class="card-title mb-4">Upload de Arquivo</h3>
            
                        <form method="POST" action="{{ url_for('upload_servidores') }}" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="arquivo" class="form-label">Selecione um arquivo (.csv, .xls, .xlsx)</label>
                                <input class="form-control" type="file" name="arquivo" id="arquivo" accept=".csv, .xls, .xlsx" required>
                            </div>
            
                            <button type="submit" class="btn btn-primary">Enviar Arquivo</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="container mt-4">
                <div class="alert alert-info rounded-4 shadow-sm">
                    <strong>Precisa de um modelo?</strong>
                    <br>
                    <a class="btn btn-outline-success mt-2" href="{{ url_for('download', filename='servidores_cruzamento.xlsx') }}">
                        Baixar modelo (.xlsx)
                    </a>
                    <a class="btn btn-outline-success mt-2" href="{{ url_for('download', filename='servidores_cruzamento.csv') }}">
                        Baixar modelo (.csv)
                    </a>
                    <a class="btn btn-outline-success mt-2" href="{{ url_for('download', filename='servidores_cruzamento.xls') }}">
                        Baixar modelo (.xls)
                    </a>
                </div>
            </div>
        </div>




        <div class="container mt-5">
            <h2 class="mb-4">Tabela de Resultados Encontrados</h2>
            <div class="table-responsive">
              <table class="table table-bordered table-hover table-striped align-middle">
                <thead class="table-dark">
                  <tr>
                    <th>Data do Cruzamento</th>
                    <th>Cruzamento</th>
                    <th>Quantidade de Achados</th>
                  </tr>
                </thead>
                <tbody id="tabela-cruzamentos">
                </tbody>
              </table>
            </div>
          </div>
 
        <div class="d-flex gap-3">
            <a class="btn btn-primary mt-2" href="{{ url_for('planilha_resultados', filename='resultados_cruzamentos.xlsx') }}">Baixar Achados</a>
            <!-- <button type="button" class="btn btn-primary">Baixar Achados</button> -->
            <!-- <a class="btn btn-success mt-2" href="{{ url_for('planilha_resultados', filename='resultados_cruzamentos.xlsx') }}">Realizar Novo Cruzamento</a> -->
            <button type="button" onclick="chamarCruzamento();" class="btn btn-success">Realizar Novo Cruzamento</button>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>


<script>


    function carregarTabelaCargas() {
        fetch('/api/cargas')
        .then(response => {
            if (!response.ok) {
            throw new Error('Erro ao buscar os dados');
            }
            return response.json();
        })
        .then(data => {
            const tbody = document.getElementById('tabela-cargas');
            tbody.innerHTML = ''; // Limpa antes de preencher

            data.forEach(row => {
            const tr = document.createElement('tr');
            tr.innerHTML = `
                <td>${row.data_competencia}</td>
                <td>${row.base_dados}</td>
            `;
            tbody.appendChild(tr);
            });
        })
        .catch(error => {
            console.error('Erro ao carregar os dados da tabela:', error);
        });
    }



    function carregarTabelacruzamentos() {
        fetch('/api/resultadoscruzamentos')
        .then(response => {
            if (!response.ok) {
            throw new Error('Erro ao buscar os dados');
            }
            return response.json();
        })
        .then(data => {
            const tbody = document.getElementById('tabela-cruzamentos');
            tbody.innerHTML = ''; // Limpa antes de preencher

            data.forEach(row => {
            const tr = document.createElement('tr');
            tr.innerHTML = `
                <td>${row.data_cruzamento}</td>
                <td>${row.base}</td>
                <td>${row.qtd}</td>
            `;
            tbody.appendChild(tr);
            });
        })
        .catch(error => {
            console.error('Erro ao carregar os dados da tabela:', error);
        });
    }

    function chamarCruzamento() {
            fetch('/realizar_cruzamentos', { method: 'GET', headers: {'Content-Type': 'application/json'} })
                .then(res => {
                    if (!res.ok) {
                        throw new Error("Erro na requisição");
                    }
                    console.log(res.json())
                    return res.json();
                })
                .then(data => {
                    document.getElementById("resultado").textContent = JSON.stringify(data, null, 2);
                })
                .catch(err => {
                    document.getElementById("resultado").textContent = "Erro: " + err.message;
                });
        }

    // Chama a função automaticamente ao carregar a página
    window.addEventListener('DOMContentLoaded', carregarTabelaCargas);
    window.addEventListener('DOMContentLoaded', carregarTabelacruzamentos);


</script>


</body>
</html>





